body {
	border: 20px solid grey;
	padding: 20px;
	/*margin: 10 auto;*/
	margin-left: 100px;
	margin-right: 100px;
}

h1 {
	font-family: Open Sans;
}

h3 {
	font-family: Open Sans;
	color: 	#4169E1;
}

p {
	font-family: Open Sans;
	
}